beautifulsoup4==4.14.3
chromadb==0.5.21
fastapi==0.115.6
fastembed==0.5.1
groq==0.13.1
langchain==0.3.14
langchain-community==0.3.14
langchain-core==0.3.29
langchain-groq==0.2.1
langchain-text-splitters==0.3.5
playwright==1.49.1
pydantic==2.10.4
pydantic-settings==2.7.0
schedule==1.2.2
tokenizers==0.20.3
uvicorn==0.34.0
